<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.dao.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.blog.entity.Comment">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="content" property="content" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
        <result column="blog_id" property="blogId" />
        <result column="father_comment_id" property="fatherCommentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, email, content, avatar, create_time, blog_id, father_comment_id
    </sql>

</mapper>
